$bg-primary-color: #19222d;
$bg-secondary-color: #2a3d52;
$txt-primary-color: #ffffff;
$txt-secondary-color: #b1c3d5;
$scrollbar-thumb-hover-color: #384c62;
$controls-primary-color: #2ea6ff;
$controls-secondary-color: #2a3e53;
